
/*******************/
/**** login.css ****/
/*******************/


/* <html tags>  */
body {
  padding: 4%;
  background-color: gray; /* #3d3d3d;*/
  color: white;
  font-family: Open Sans;
  text-align: center;
}


body, html {
  height: 100%;
  background-repeat: repeat; /*no-repeat;*/
  /* background-image: linear-gradient(#d7e5eb, rgba(147, 161, 161, 0.329)); */
  background-image: linear-gradient(rgb(239, 245, 248), rgb(131, 138, 233) );
}
/**************************************/


/* .class */
.textbox input 
{
  border: none;
  outline: none;
  background: lightgray;
  color: black;
  font-size: 20px;
   margin: 5px; 
  padding: 2%;
  width: 80%;
}

.loginLogo
{
  font-size: 44px;
  color: white;
}
/**************************************/

/* #id */
#loginContainer
{
  border: none;
}


#userNameIcon
{
  font-size:33px;
  color: blue;
  /* padding-top:2%; */
}

#passwordIcon
{
  font-size:33px;
  color: blue;
  /* padding-top:2%; */
}


#userName, #password
{
  color: navy;
}


#login
{
  padding: 2%;  
  width: 80%;
  font-size: 20px;
}


#loginStatus
{
  font-size:20px;
  color: blueviolet;
}
/**************************************/



